* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.squad {
  
  text-align: center;
  width: 50px;
  background-color: #eee;
  color: #eee;
 
  font-size: 60px;
  cursor: pointer;
  border-radius: 10px;
}
